{{!< layout}}
<div class="aui-message aui-message-warning">
    <p class="title">
        <strong>
            <font style="font-family:Segoe UI">No hay equipo asociado al informador de este ticket</font>
        </strong>
    </p>
</div>